/* original hex color #35BDD0 */
.AddButton {
  grid-column: 1 / 4;
  border: 1px dashed #3f3f3f;
  outline: none;  
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}
.AddButton svg {
  color: #CAD5E2;
}
.AddButton:hover {
  background-color: rgba(53, 189, 208, .5);
}