.Code_Container {
  position: relative;
  padding: 1.5rem;
}
.Code_Container code {
  display: inline-block;
  color: #CAD5E2;
  font-size: .75rem;
  /* line clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5em;
}
.Code_Container span {
  color: #35BDD0;  
}
.Code_Container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(322, 59%, 26%);
  border: none;
  color: #CAD5E2;
  padding: .5em;
  cursor: pointer;
  margin: 1.5rem auto 0 auto;
  min-width: 100px;
}
.Code_Container button:hover {
  background: hsl(322deg, 59%, 50%);
}
.Code_Container button svg {
  margin-right: .5em;
}
