.ColorPicker_Container {
  position: relative;
}
.ColorPicker_Button {
  border: none;
  padding: .25em;
  outline: none;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  z-index: -1;
}
.ColorPicker_Modal {
  position: absolute;
  z-index: 1;
}