.Control_Container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: .5em 0;
  row-gap: .25em;
}
.Control_Container:first-child {
  margin-top: 0;
}