.ControlGroup {
  display: flex;
  flex-direction: column;
  background: #0d0d0d;
  color: #CAD5E2;
  width: 100%;
}
.ControlGroup header {
  margin: 0 1rem;
}
.ControlGroup ul {
  min-height: 300px;
  height: 60vh;
  overflow-y: auto;
  margin: .5rem 1rem;
}

/* CSSTransition Styles */
.cg-enter {
  max-height: 0px;
  opacity: 0;
  transform: scale(0);
}
.cg-enter-active {
  max-height: 500px;
  opacity: 1;
  transform: scale(1);
  transition: max-height 300ms ease-in-out, opacity 200ms, transform 500ms;
}
.cg-exit {
  max-height: 500px;
  opacity: 1;
}
.cg-exit-active {
  max-height: 0px;
  opacity: 0;
  transition: max-height 300ms ease-in, opacity 200ms;
}