.Control_Container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  align-items: center;
  background-color: #242B2E;
  margin: .5em 0;
}
.Control_Container:first-child {
  margin-top: 0;
}
.Control_Container:last-child {
  margin-bottom: 0;
}