.ControlGroup {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  color: #CAD5E2;
  border-top: 1px solid #CAD5E2;
  margin-top: .5em;
}
.ControlGroup header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.ControlGroup header h2 {
  grid-column: 1 / 4;
}
.ControlGroup header span {
  grid-row: 2;
  align-self: end;
  justify-self: center;
}
.ControlGroup ul {
  min-height: 300px;
  height: 50vh;
  overflow-y: auto;
}
