.DeleteButton {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;  
}

.DeleteButton svg {
  color: black;
  transition: color 400ms;
}

.DeleteButton:hover svg {
  color: red;
}