.DeleteButton {
  border: none;
  outline: none;  
  background: #FF6666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 400ms;
}
.DeleteButton svg {
  color: #CAD5E2;
}
.DeleteButton:hover {
  background-color: #E03B8B;
}