.DirectionGroup {
  background-color: #0d0d0d;
  color: #CAD5E2;
}
.DirectionLabel {
  position: relative;
  font-weight: bolder;
  padding: 0;
  margin: .15em;
  font-size: 2.5em;
}
.DirectionLabel:hover {
  color: #35BDD0;
}

/* rotate the arrow icons so they point the correct direction */
.DirectionLabel:nth-of-type(1) svg {
  transform: rotate(calc(45deg * 5));
}
.DirectionLabel:nth-of-type(2) svg {
  transform: rotate(calc(45deg * 1));
}
.DirectionLabel:nth-of-type(3) svg {
  transform: rotate(calc(45deg * 3));
}
.DirectionLabel:nth-of-type(4) svg {
  transform: rotate(calc(45deg * 7));
  margin-right: 0;
}

/* hide radio input circle and retain functionality */
.DirectionInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  margin: 0;
  
}
.DirectionInput:checked + svg {
  color: #35BDD0;
}
.DirectionInput:active + svg {
  color: #758283;
}