.DirectionButton_Label {
  position: relative;
  display: inline-block;
  padding: .5rem;
  border: 1px solid #242B2E;
  cursor: pointer;
}
@media(hover: hover) {
  .DirectionButton_Label:hover {
    background: #242B2E;
  }
}
.DirectionButton_Checked {
  background: #242B2E;
  transition: all 300ms ease-out;
}
.DirectionButton_Input {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  margin: 0;
}
.DirectionButton_PseudoLabel {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  transition: all 300ms;
}

/* label shadows */
.top, .topRight, .topLeft {
  transform: translateY(5px);
}
.left, .topLeft, .bottomLeft {
  padding-left: .5rem;
}
.right, .topRight, .bottomRight {
  padding-right: .5rem;
}
.top, .bottom {
  padding: 0 .25rem;
}
.top {
  text-shadow: 0px -1px #e07c24, 0px -2px #e07c24, 0px -3px #e07c24, 0px -4px #e07c24, 0px -5px #e07c24;
}
.topRight {
  text-shadow: 1px -1px #E07C24, 2px -2px #E07C24, 3px -3px #E07C24, 4px -4px #E07C24, 5px -5px #E07C24;
}
.right {
  text-shadow: 1px 0px #e07c24, 2px 0px #e07c24, 3px 0px #e07c24, 4px 0px #e07c24, 5px 0px #e07c24;
}
.bottomRight {
  text-shadow: 1px 1px #E07C24, 2px 2px #E07C24, 3px 3px #E07C24, 4px 4px #E07C24, 5px 5px #E07C24;
}
.bottom {
  text-shadow: 0px 1px #e07c24, 0px 2px #e07c24, 0px 3px #e07c24, 0px 4px #e07c24, 0px 5px #e07c24;
}
.bottomLeft {
  text-shadow: -1px 1px #E07C24, -2px 2px #E07C24, -3px 3px #E07C24, -4px 4px #E07C24, -5px 5px #E07C24;
}
.left {
  text-shadow: -1px 0px #e07c24, -2px 0px #e07c24, -3px 0px #e07c24, -4px 0px #e07c24, -5px 0px #e07c24;
}
.topLeft {
  text-shadow: -1px -1px #E07C24, -2px -2px #E07C24, -3px -3px #E07C24, -4px -4px #E07C24, -5px -5px #E07C24;
}