.Result {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  height: 25vh;
  overflow: hidden;
}
.SampleText {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font: bold 2rem "Poppins";
  caret-color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .Result {
    max-width: 60vw;
    min-height: 50vh;
    height: 100%;
  }
  .SampleText {
    font-size: 2.5rem;
  }
}