.Result {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  height: 25vh;

}
.SampleText {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font: bold 24px "Poppins";
  caret-color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .Result {
    min-height: 50vh;
    height: 100%;
  }
}