.SizeInput_Container {
  position: relative;
}
.SizeInput_Button {
  border: none;
  padding: .25em;
  outline: none;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  z-index: -1;
}
.SizeInput_Modal {
  position: absolute;
  z-index: 1;
}
.SizeInput {
  border: none;
  background-color: #242B2E;
  color: #CAD5E2;
  outline: none;
}
/* remove arrows from number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

