.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
.App main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.App main > :nth-child(1) {
  flex: 1;
  flex-basis: 70%;
}
.App main > :nth-child(2) {
  flex: 2;
  flex-basis: 30%;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  background: #0d0d0d;
  color: #cad5e2;
  width: 100%;
}
.controlPanel header {
  margin: 0 1rem;
}
.controlPanel ul {
  min-height: 300px;
  height: 60vh;
  overflow-y: auto;
  margin: 0.5rem 1rem;
}

/* CSSTransition Styles */
.cg-enter {
  max-height: 0px;
  opacity: 0;
  transform: scale(0);
}
.cg-enter-active {
  max-height: 500px;
  opacity: 1;
  transform: scale(1);
  transition: max-height 300ms ease-in-out, opacity 200ms, transform 500ms;
}
.cg-exit {
  max-height: 500px;
  opacity: 1;
}
.cg-exit-active {
  max-height: 0px;
  opacity: 0;
  transition: max-height 300ms ease-in, opacity 200ms;
}

.directionGroup {
  background: #0d0d0d;
  color: #cad5e2;
  margin: 1rem;
}
.directionGroup > div {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
}
.directionGroup > div > :nth-child(5) {
  grid-column: 3 / 4;
}
