.AppMain {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 750px) {
  .AppMain {
    flex-direction: row;
  }
}
.App .VerticalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}